.black_and_white,
.yellow {
  font-family: Helvetica, "Times New Roman", sans-serif;
  font-size: 28px;
}

.black_and_white {
  background-color: black;
  color: white;
}

.yellow {
  background-color: yellow;
}

